<form class=".form-inline" action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=resoursea', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
<fieldset>
  <h4><a href="http://feeds.feedburner.com/resoursea/" rel="nofollow"><i class="icon-feed"></i></a> Subscribe to our feed</h4>
  <p>
    <small>Receive new posts by email.</small>
  </p>
  <div class="input-append">
    <input type="email" class="span2 input-small" name="email" placeholder="your@email.com" required/>
    <input type="submit" value="Subscribe" class="btn"/>
  </div>
  <p>
    <small>or <a href="http://feeds.feedburner.com/resoursea/" rel="nofollow">subscribe using your reader</a>.</small>
  </p>
  <input type="hidden" value="resoursea" name="uri"/>
  <input type="hidden" name="loc" value="pt_BR"/>
</fieldset>
</form>
