---
layout: default
---
<div class="container">
  <div class="row">
    <div class="span9">
      {{ content }}
    </div>
    <aside class="span3 sidebar">
      {% include search.html %}
      
      <h4><i class="icon-question-sign"></i> About Resoursea</h4>
      <div style="text-align:justify;">
      <p>A high productivity web framework for quickly writing resource based services fully implementing the REST architectural style.</p>
      <p>This framework allows you to really focus on the Resources and how it behaves, and let the tool for routing the requests and inject the required dependencies.</p>
      <p>This framework is written in <a href="http://golang.org/">Golang</a> and uses the power of its implicit Interface and decentralized package manager.</p>
      <p>To contribute to the project subscribe to our <a rel="nofollow" href="https://groups.google.com/d/forum/resoursea">email list</a> and access our <a rel="nofollow" href="https://github.com/resoursea/">repositories on github</a>.</p>
      <p>Add us on <a rel="nofollow" href="https://twitter.com/resoursea/">twitter</a> to know what's going on.</p>
      <p>If you have any suggestions, please <a rel="nofollow" href="https://docs.google.com/forms/d/1GCKn7yN4UYsS4Pv7p2cwHPRfdrURbvB0ajQbaTJrtig/viewform">let us know about it</a>.</p>
      </div>
      {% include feed-subscribe.html %}
      {% include share-page.html %}
    </aside>
  </div>
</div>
