---
layout: default
---
<div class="container">
  <div class="row">
    <div class="span9">
      {{ content }}
    </div>
    <aside class="span3 sidebar">
      {% include search.html %}
      
      <h4><i class="icon-question-sign"></i> About Resoursea</h4>
      <div style="text-align:justify;">
      <p>Resoursea is an open source framework that provides a resource based service through an REST interface.</p>
      <p>With this framework you can really focus on the resources and how they are provided by your service and leaves the tool to manage them by a scalable and efficient web server.</p>
      <p>This framework is written in Go lang and uses its powerful decentralized package manager.</p>
      <p>To contribute to the project subscribe to our <a rel="nofollow" href="https://groups.google.com/d/forum/resoursea">email list</a> and access our <a rel="nofollow" href="https://github.com/resoursea/">repositories on github</a>.</p>
      <p>Add us on <a rel="nofollow" href="https://twitter.com/resoursea/">twitter</a> to know what's going on.</p>
      <p>If you have any suggestions, please <a rel="nofollow" href="https://docs.google.com/forms/d/1GCKn7yN4UYsS4Pv7p2cwHPRfdrURbvB0ajQbaTJrtig/viewform">let us know about it</a>.</p>
      </div>
      {% include feed-subscribe.html %}
      {% include share-page.html %}
    </aside>
  </div>
</div>
